{% extends 'base.html' %}

{% block title %}New User Form{% endblock title %}

{% block content %}
    <h1 class="h1">Create a User</h1>
    <form method="POST">
        <div class="form-group">
            <label for="first-name">
                First Name<br>
                <input type="text" class="form-control" name="first-name" id="first-name">
            </label>
            <br>
            <label for="last-name">
                Last Name<br>
                <input type="text" class="form-control" name="last-name" id="last-name">
            </label>
            <br>
            <label for="image-url">
                Image URL<br>
                <input type="text" class="form-control" name="image-url" id="image-url">
            </label>
            <br>
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
{% endblock content %}