{% extends 'base.html' %}

{% block title %}Edit User Form{% endblock title %}

{% block content %}
<h1 class="h1">Edit a user</h1>
<form id="new-user-form" method="POST">
    <div class="form-group">
        <label for="first-name">
            First Name<br>
            <input type="text" class="form-control" name="first-name" id="first-name" value="{{user.first_name}}">
        </label>
        <br>
        <label for="last-name">
            Last Name<br>
            <input type="text" class="form-control" name="last-name" id="last-name" value="{{user.last_name}}">
        </label>
        <br>
        <label for="image-url">
            Image URL<br>
            <input type="text" class="form-control" name="image-url" id="image-url" value="{{user.image_url}}">
        </label>
        <br>
        <form>
            <button class="btn btn-danger" formaction="/users/{{user.id}}"
            formmethod="GET" type="submit">Cancel</button>
            <button class="btn btn-success" formaction="/users/{{user.id}}/edit"
            formmethod="POST" type="submit">Save</button>
        </form>
    </div>
</form>
{% endblock content %}